:root {
    --color: #373737;
    --color2:#f2f2f2eb;
    --background: blue;

    --body-copy: 2rem;
    --heading-copy: calc(var(--body-copy) * 3);

    --gutter: 2rem;
    --vertical: 4rem;

    --s: 12rem;
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: var(--color);
    font-size: 1rem;
    min-block-size: 100vh;
    display: grid;
    align-items: center;
    overflow-x: hidden;
}

@media (width > 768px) {
    body {
        --s: 18.75rem;
        font-size: var(--body-copy);
    }
}


/* wanted a sick pattern behind my work */
/* found this pattern collection: https://css-pattern.com/ */
/* I learned that I can stacking rotating gradients and repeatig them precisely creates a complex pattern */


body {
    --c1: #ececec;
    --c2: #f0f0f0;

    --c: var(--c1) 0 1%, #0000 0;
    --p: 0 0/calc(3*var(--s)) calc(2*var(--s));
    background:
        conic-gradient(from -45deg at 75% 62.5%, var(--c)) var(--p),
        conic-gradient(from 135deg at 25% 37.5%, var(--c)) var(--p),
        repeating-conic-gradient(from 90deg, var(--c), var(--c2) 0 50%) 0 0/var(--s) var(--s);
}



hgroup {
    display: block;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}


@media (width > 768px) {
hgroup {
    display: block;
    padding-top: 1rem;
    padding-left: 2rem;
}
}


h1 {
    font-size: 3rem;
    text-align: left;
    font-family: "helvetica", serif;
    font-weight: 600;
    padding-left: 2rem;
    padding-top: 5rem;

}

@media (width > 768px) {
    h1 {
        font-size: var(--heading-copy);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        inline-size: 50rem;
    }
}


.intro {
    text-align: left;
    font-size: 1rem;
    padding-left: 2rem;
    padding-top: 2rem;
    max-width: 22rem;
}


@media (width > 768px) {
    .intro {
        font-size: 1.5rem;
        max-inline-size: 50ch;
    }
}


ul {
    padding-top: 5rem;
    padding-inline: 0;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
    color: var(--color);
     padding-bottom: 5rem;
}

@media (width > 768px) {
    ul {
         grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); 
        gap: var(--vertical);
        padding-inline: var(--gutter);
         padding-top: 10rem;
        padding-bottom: 20rem;
    }
}

li {
    display: block;
    background-color: var(--color2);
    border-radius: 0.2125rem;
    border: 1px solid;
    border-color: var(--color);
    font-size: 0.9375rem;
    padding: 0.875rem 1rem;
    text-align: center;
}

li a {
    display: block;
    color: inherit;
    text-decoration: none;
}

@media (width > 768px) {
    li {
        font-size: 1.5rem;
        padding: 1rem;
    }
}


.icon {
    fill: none;
    stroke: var(--color);
    display: block;
    margin: 0 auto 0.5rem;
    stroke-width: 1.5;
}


footer {
    justify-self: stretch;
    background-color: var(--color);
    padding: 0.75rem 1rem;
    color: #FEFAF1;
    margin-top: auto;
    font-size: 0.9375rem;
    text-align: center;
}

footer a {
    color: inherit;
    text-decoration: underline;
}

@media (width > 768px) {
    footer {
        padding: 1rem var(--gutter);
        font-size: 1rem;
    }
}