:root {
    --color: rgb(249, 200, 200);
    --background: blue;

    --body-copy: 2rem;
    --heading-copy: calc(var(--body-copy) * 3);

    --gutter: 2rem;
    --vertical: 4rem;

}

body {
    font-family: sans-serif;
    color: var(--color);
    /* background-color: var(--background); */
    font-size: var(--body-copy);
    block-size: 100vh;
    display: grid;
    align-items: center;
}
/* wanted a sick pattern behind my work */
/* found this pattern collection: https://css-pattern.com/ */

body {
  --s: 300px; 
  --c1: #1c2130;
  --c2: #d14334;
  
  --c:var(--c1) 0 25%,#0000 0;
  --p:0 0/calc(3*var(--s)) calc(2*var(--s));
  background:
    conic-gradient(from -45deg at 75% 62.5%,var(--c)) var(--p),
    conic-gradient(from 135deg at 25% 37.5%,var(--c)) var(--p),
    repeating-conic-gradient(from 90deg,var(--c),var(--c2) 0 50%)
     0 0/var(--s) var(--s);
}

main {
    padding-inline: var(--gutter);
    padding-block: var(--vertical);
}

h1{
    font-size: var(--heading-copy);
}

ul {
    padding-inline: var(--gutter);
    display: grid;
    gap: var(--vertical);
}

footer {
    color: var(--background);
    background-color: var(--color);
    padding-inline: var(--gutter);

}
